# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environments
.venv/

#Ignore env
.env

# Ignore Nuitka build outputs and nsis files
build/
dist/
*.spec
FathomInstaller.exe

# Ignore logs or temporary files
*.log
*.tmp
*.bak

# If using VSCode
.vscode/
